## Numbers

In [1]:
addition = 1 + 2
print( "addition:", addition)
subtraction = 9 - 2
print("subtraction:", subtraction)
multiply = 2* 6
print("multiply:" , multiply)
division = 24 / 6
print("division:", division)

addition: 3
subtraction: 7
multiply: 12
division: 4.0

In [2]:
remainder = 11 % 3
print("remainder:", remainder)

remainder: 2

In [3]:
squared = 7 ** 2
cubed = 2 ** 3
exponential = 5 ** 10
print("squared:", squared)
print("cubed:", cubed)
print("exponential:", exponential)

squared: 49
cubed: 8
exponential: 9765625

In [4]:
quotient = 10 // 3 # normally 3.3333 but the floor of 3.333 is 3 
print ("quotient:" , quotient)

quotient: 3

## Strings & List

In [5]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [6]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
odd_even = odd_numbers + even_numbers
even_odd = even_numbers + odd_numbers
print("odd_even", odd_even)
print("even_odd", even_odd)

odd_even [1, 3, 5, 7, 2, 4, 6, 8]
even_odd [2, 4, 6, 8, 1, 3, 5, 7]

In [7]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Comparison

In [8]:
x = 5

print(x > 3 and x < 10)

True

In [9]:
x = 5

print(x > 3 or x < 4)

True

In [10]:
x = 5

print(not(x > 3 and x < 10))

False

## Identity Operators

In [11]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

In [12]:
x = ["apple", "banana"]

print("banana" in x)

True

## Type & Cast

In [14]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print ("x:",x)
print("y:",y)  
print("z:",z)

x: 1
y: 2
z: 3

In [15]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print ("x:",x)
print("y:",y)  
print("z:",z)
print("w:",w )

x: 1.0
y: 2.8
z: 3.0
w: 4.2

In [16]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print ("x:",x)
print("y:",y)  
print("z:",z)

x: s1
y: 2
z: 3.0

In [13]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

### Changing Types

#### The below code will not work

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

#### Using type conversion to make the code below to work

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

## Logical Operations

### Logical operators are the and, or, not operators.

In [17]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

### Identity operators: "is not" and "is"

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

### membership operators: "not in" and "in"

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

In [ ]:
x = False
if not x :
    print("condition met")
else:
    print("condition not met")

## This and that or something else


Two easy to understand operators are and and or. They do exactly what they sound like:

In [ ]:
if 1 < 2 and 4 > 2:
    print("condition met")

if 1 > 2 and 4 < 10:x
    print("condition not met")

if 4 < 10 or 1 < 2:
    print("condition met")

### For loops

In [ ]:
a = ['yellow', 'blue', 'red']
for i in a:
     print(i)

## Avoid Infinity loops 
## while loops

In [ ]:
x = 1
while x <= 5:
    print(x)
    x += 1

### using breaks

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

## if statements

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

## Nested if statements

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

## elif

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper()) # this is a method, we will discuss this later 
    else: 
        print(car.title()) # this is a method, we will discuss this later